click==8.0.1
csvkit==1.0.7
eventlet==0.33.0
Flask-SocketIO==5.1.1
Flask==1.0.4
fuzzywuzzy==0.18.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pandas==1.4.2
psutil==5.9.0
psycopg2==2.9.3
PTable==0.9.2
pyodbc==4.0.32
PySnooper==0.5.0
python-engineio==4.3.1
python-Levenshtein==0.12.2
python-socketio==5.5.2
setuptools==62.1.0
six==1.16.0
Werkzeug==0.16.1
