<html lang="en">
<head>
<meta charset="utf-8">
<title>xterm</title>
<style>
html {
  font-family: arial;
}
</style>
<link rel="icon" href="{{ url_for('static', filename='static/img/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='static/css/xterm.css') }}" />
</head>

<body>
    <div style="width: 100%; height: calc(100% - 50px);" id="terminal"></div>
    <span style="font-size: 1.4em;">Sen</span><span style="font-size: 1.4em; color: red;">z</span><span style="font-size: 1.4em;">ing</span>
    <span style="font-size: 1.4em;">xterm</span>&nbsp;&nbsp;&nbsp;
    <span style="font-size: small; float:right">Status: <span style="font-size: small;" id="status">connecting...</span></span>
    <script src="{{ url_for('static', filename='static/js/xterm.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-attach.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-fit.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-search.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-web-links.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/socket.io.js') }}"></script>

    <script>

    const terminal = new Terminal({
          cursorBlink: true,
          macOptionIsMeta: true,
          scrollback: 10000,
    });

    // Create websocket.

    const websocket = io('/pty', {
      path: '{{ io_connect_path }}'
    });

    // Add features to terminal.
    // Reference: https://github.com/xtermjs/xterm.js/tree/master/addons

    const attachAddon = new AttachAddon.AttachAddon(websocket);
    terminal.loadAddon(attachAddon);

    const fitAddon = new FitAddon.FitAddon();
    terminal.loadAddon(fitAddon);

    const searchAddon = new SearchAddon.SearchAddon();
    terminal.loadAddon(searchAddon);

    terminal.loadAddon(new WebLinksAddon.WebLinksAddon());

    // Configure terminal.

    terminal.open(document.getElementById('terminal'));
    fitAddon.fit()
    terminal.resize(15, 50)
    console.log(`size: ${terminal.cols} columns, ${terminal.rows} rows`)
    fitAddon.fit()
    terminal.write("\nWelcome to Senzing xterm!\n\r")

    // Traffic from xterm to host.

    terminal.on('data', function(data) {
      console.log("input", data)
      websocket.emit("pty-input", {"input": data})
    })

    // Traffic from host to xterm.

    websocket.emit("pty-input", {"input": "\n"})
    websocket.on("pty-output", function(data){
      console.log("output", data)
      terminal.write(data.output)
    })

    // Status.

    const status = document.getElementById("status")

    websocket.on("connect", () => {
      fitToscreen()
      status.innerHTML = '<span style="background-color: lightgreen;">connected</span>'
    })

    websocket.on("disconnect", () => {
      status.innerHTML = '<span style="background-color: #ff8383;">disconnected</span>'
    })

    // Window resizing.

    function fitToscreen(){
      fitAddon.fit()
      websocket.emit("resize", {"cols": terminal.cols, "rows": terminal.rows})
    }

    function debounce(func, wait_ms) {
      let timeout
      return function(...args) {
        const context = this
        clearTimeout(timeout)
        timeout = setTimeout(() => func.apply(context, args), wait_ms)
      }
    }

    const wait_ms = 50;
    window.onresize = debounce(fitToscreen, wait_ms)

  </script>

</body>
</html>
