<html lang="en">
<head>
<meta charset="utf-8">
<title>Senzing xterm</title>
<style>
html {
  font-family: arial;
}
</style>
<link rel="icon" href="{{ url_for('static', filename='static/img/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='static/css/xterm.css') }}" />
</head>

<body>
    <div style="width: 100%; height: calc(100% - 50px);" id="terminal"></div>
    <span style="font-size: 1.4em;">Sen</span><span style="font-size: 1.4em; color: red;">z</span><span style="font-size: 1.4em;">ing</span>
    <span style="font-size: 1.4em;">xterm</span>&nbsp;&nbsp;&nbsp;
    <span style="font-size: small; float:right">Status: <span style="font-size: small;" id="status">connecting...</span></span>
    <button id="copy-link" style="font-size: small; float: right; margin: 0 15px;" disabled>Copy link to this session</button>
    <script src="{{ url_for('static', filename='static/js/xterm.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-attach.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-fit.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-search.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/xterm-addon-web-links.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/socket.io.js') }}"></script>

    <script>

    // Create terminal.
    // Options: https://github.com/xtermjs/xterm.js/blob/master/typings/xterm.d.ts

    const term = new Terminal({
          cursorBlink: true,
          macOptionIsMeta: true,
          scrollback: 10000,
    });

    const params = new URLSearchParams(window.location.search)
    var tty = params.get("tty")

    // Create socket.

    const socket = io('/pty', {
      path: '{{ io_connect_path }}'
    });
    socket.emit("request-tty", {"tty": tty})
    //socket.emit("pty-input", {"input": "\n"})

    // Add features to terminal.
    // Reference: https://github.com/xtermjs/xterm.js/tree/master/addons

    const attachAddon = new AttachAddon.AttachAddon(socket);
    term.loadAddon(attachAddon);

    const fitAddon = new FitAddon.FitAddon();
    term.loadAddon(fitAddon);

    const searchAddon = new SearchAddon.SearchAddon();
    term.loadAddon(searchAddon);

    term.loadAddon(new WebLinksAddon.WebLinksAddon());

    // Configure terminal.

    term.open(document.getElementById('terminal'));
    fitAddon.fit()
    term.resize(15, 50)
    console.log(`size: ${term.cols} columns, ${term.rows} rows`)
    fitAddon.fit()

    // Traffic from browser to host.

    term.onData(function(data) {
      socket.emit("pty-input", {"input": data})
    })

    // Traffic from host to browser.

    socket.on("pty-output", function(data){
      term.write(data.output)
    })


    const copy = document.getElementById("copy-link")
    var url = new URL(document.location)
    url.hash = ''

    socket.on("pty-connect", function(data){
      copy.disabled = false
      copy.dataset.tty = data.tty
    })

    copy.addEventListener('click', function(e){
      url.searchParams.set('tty', copy.dataset.tty)
      // remove url encoding for easier identification
      url.search = decodeURIComponent(url.search)
      navigator.clipboard.writeText(url.href)
    })

    // Status.

    const status = document.getElementById("status")

    socket.on("connect", () => {
      fitToscreen()
      status.innerHTML = '<span style="background-color: lightgreen;">connected</span>'
    })

    socket.on("disconnect", () => {
      status.innerHTML = '<span style="background-color: #ff8383;">disconnected</span>'
    })

    // Window resizing.

    function fitToscreen(){
      fitAddon.fit()
      socket.emit("resize", {"cols": term.cols, "rows": term.rows})
    }

    const wait_ms = 50;
    window.onresize = debounce(fitToscreen, wait_ms)

    // Debounce.

    function debounce(func, wait_ms) {
      let timeout
      return function(...args) {
        const context = this
        clearTimeout(timeout)
        timeout = setTimeout(() => func.apply(context, args), wait_ms)
      }
    }

  </script>

</body>
</html>
